{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <div id="header">
        {% if request.user.is_authenticated %}
            <ul class="menu">
                <li>
                    <a href="{% url 'people:list_people' %}">People</a>
                </li>
                <li>
                    <a href="#">Messages</a>
                </li>
                <li>
                    <a href="#">Activity</a>
                </li>
                <li>
                    <a href="{% url 'people:user_detail' request.user.username %}">My page</a>
                </li>
            </ul>
        {% endif %}
    </div>
    <div id="content">
        {% block content %}

        {% endblock %}
    </div>
    <div id="footer">
    </div>
</body>
</html>
