{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FindMe |{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
    <div id="header">
        {% if request.user.is_authenticated %}
            <nav>
                <a href="{% url 'people:list_people' %}">People</a>
                <a href="{% url 'conversations:all_conversations' %}">Messages</a>
                <a href="{% url 'people:user_activity' %}">Activity</a>
                <a href="{% url 'people:user_detail' request.user.username %}">My page</a>
                <a href="{% url 'account:settings' %}">Settings</a>
            </nav>
        {% endif %}
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    <div id="content">
        {% block content %}
        
        {% endblock %}
    </div>
    <div id="footer">
    </div>
    <script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>
    <script>
        const csrftoken = Cookies.get('csrftoken');
        document.addEventListener('DOMContentLoaded', (event) => {
            {% block domready %}

            {% endblock %}
        })
    </script>
</body>
</html>
