.post {
    height: 83%;
    overflow-y: scroll;
}

.blog_post {
    margin: 25px 0;
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}

.post_image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-radius: 10px;
    border: 1px solid grey;
}

.post_text {
    margin: 10px 0;
}

.post_info {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.post_created {
    margin: 0;
    font-size: medium;
    color: grey;
    width: 50%;
}

.post_like_button {
    width: 5%;
    height: 27px;
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.post_like_button img {
    width: 60%;
}

.post_like_button:hover {
    background-color: #e7e7e7;
}

.comment {
    margin: 5px;
}

.comment_content {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.comment_img {
    width: 7%;
}

.comment_text {
    width: 93%;
    padding: 5px;
}

.comment_img img {
    border-radius: 100%;
    border: 1px solid black;
    width: 100%;
}

.comment_info {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.comment_info p {
    margin: 0;
}

.comment_time {
    font-size: medium;
    color: #7f7b87;
    padding: 0;
    margin: 0;
    width: 50%;
}

.new_comment {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: auto;
}

.new_comment {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #ccc;
    margin-top: auto;
}

.new_comment form {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.new_comment textarea {
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    font-size: large;
    font-family: 'Trebuchet MS', sans-serif;
    width: 90%;
    height: 70%;
}

.new_comment input {
    background-color: rgb(68, 147, 227);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.new_comment input:hover {
    background-color: rgb(39, 117, 196);
}

.new_comment label {
    display: none;
}

.comment_like_button {
    width: 5%;
    height: 27px;
    border: 1px solid black;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
}

.comment_like_button img {
    width: 60%;
}

.comment_like_button:hover {
    background-color: #e7e7e7;
}

.liked {
    background-image: linear-gradient(to right, #ff006a, #9a0033);
}