{% extends 'base.html' %}
{% load static %}
{% load account_extras %}

{% block title %}
    Log in
{% endblock %}

{% block styles_link %}
    {% static 'account/css/registration.css' %}
{% endblock %}

{% block content %}
    <div id="login_page">
        <h1 style="font-size: 72px;">FindMe</h1>
        <h2>Log in to continue</h2>

        {% if form.errors %}
            <p>
                Your username and password did not match.
                Please try again.
            </p>
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {{ form.username|add_attr:'placeholder:Username' }}
            {{ form.password|add_attr:'placeholder:Password' }}
            <input class="form_submit" type="submit" value="Log In">
        </form>

        <p>
            Don't have an account?
            <a href="{% url 'account:user_register' %}">Sign up</a>
        </p>
    </div>

{% endblock %}
