{% extends 'base.html' %}
{% load static %}
{% load account_extras %}

{% block title %}
    Log in
{% endblock %}

{% block styles_link %}
    {% static 'account/css/login_page.css' %}
{% endblock %}

{% block content %}
    <div id="login_page">
        <h2>To continue,<br>log in your account</h2>
        {% if form.errors %}
            <p>
                Your username and password did not match.
                Please try again.
            </p>
        {% else %}
        {% endif %}
        <form action="" method="post">
            {% csrf_token %}
            {#            {{ form.as_p }}#}
            <p>
                {{ form.username|add_attr:'placeholder:Username' }}
            </p>
            <p>
                {{ form.password|add_attr:'placeholder:Password' }}
            </p>
            <input type="submit" value="Log In">
        </form>
        <div class="social">
            <ul>
                <li class="google">
                    <a href="{% url "social:begin" "google-oauth2" %}">
                        Continue with Google
                    </a>
                </li>
                <li class="facebook">
                    <a href="{% url "social:begin" "facebook" %}">
                        Continue with Facebook
                    </a>
                </li>
            </ul>
        </div>
        <p>
            Don't have an account?
            <a href="{% url 'account:user_register' %}">Sign up</a>
        </p>
    </div>

{% endblock %}
