{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{ user.username }} Profile
{% endblock %}

{% block content %}
    {% if user.user_info.photo %}
        <img src="{{ user.user_info.photo.url }}" alt="">
    {% else %}
        <img src="{% static 'img/no_image.png' %}" alt="">
    {% endif %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <p>{{ user.user_info.gender }}, {{ user.user_info.years_old }} years old</p>
    <p>{{ user.user_info.about_me }}</p>
    
    {% if user != request.user %}
        <a href="#"
           data-id="{{ user.id }}"
           data-action="{% if request.user in user.liked_by.all %}un{% endif %}like"
           class="like">
            {% if request.user not in user.liked_by.all %}
                like
            {% else %}
                unlike
            {% endif %}
        </a><br>
        {% if request.user in user.liked_by.all %}
            <a href="{% url 'conversations:conversation_detail' user.id %}">Contact Me!</a>
        {% endif %}
    {% else %}
        <a href="{% url 'people:create_post' user.username %}">New Post</a>
    {% endif %}
    {% for %}
{% endblock %}

<script>
    {% block domready %}
        const url = "{% url 'people:like_user' %}";
        let options = {
            method: "POST",
            headers: {'X-CSRFToken': csrftoken},
            mode: "same-origin"
        }

        document.querySelector("a.like").addEventListener("click", function (e) {
            e.preventDefault();
            let likeButton = this;

            let formData = new FormData();
            formData.append("id", likeButton.dataset.id);
            formData.append("action", likeButton.dataset.action);
            options["body"] = formData;

            fetch(url, options)
                .then(response => response.json())
                .then(data => {
                    if (data["status"] === "ok") {
                        let previousAction = likeButton.dataset.action;
                        let action = previousAction === "like" ? "unlike" : "like";
                        likeButton.dataset.action = action;
                        likeButton.innerHTML = action;
                    }
                });
        });
    {% endblock %}
</script>
