{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    People
{% endblock %}

{% block content %}
    <div>
        <ul>
            {% for person in people %}
                <li style="display: flex; flex-direction: row">
                    <div style="padding-right: 3rem">
                        <a href="{% url 'people:user_detail' person.user.username %}">
                            {% if person.photo %}
                                <img src="{% thumbnail person.photo '180x180' crop='smart' %}" alt="">
                            {% else %}
                                <img src="{% static 'img/no_image.png' %}" alt="">
                            {% endif %}
                        </a>
                    </div>
                    <div>
                        <p>
                            <a href="{% url 'people:user_detail' person.user.username %}">
                                {{ person.user.first_name }} {{ person.user.last_name }},
                                {{ person.years_old }} years old.
                            </a><br>
                            Is {{ person.get_gender_display }}, (likes {{ person.get_gender_preference_display }})<br>
                            Looking for: {{ person.get_relationship_display }}<br>
                        </p>
                        {% for interest in person.interests.all %}
                            {{ interest }};
                        {% endfor %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
