{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}
    {{ user.username }} profile
{% endblock %}

{% block styles_link %}
    {% static "people/css/profile_details.css" %}
{% endblock %}

{% block content %}
    <div class="profile_info">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <div class="top_section">
            <div class="profile_picture">
                {% if user.user_info.photo %}
                    <img src="{% thumbnail user.user_info.photo '650x650' crop='smart' %}" alt="">
                {% else %}
                    <img src="{% static 'img/no_image.png' %}" alt="">
                {% endif %}
            </div>
            <div class="image_buttons">
                {% if user != request.user %}
                    <div class="image_button  {% if request.user in user.liked_by.all %}liked{% endif %}">
                        <a href="#"
                           data-id="{{ user.id }}"
                           data-action="{% if request.user in user.liked_by.all %}un{% endif %}like"
                           class="like">
                            <div class="image">
                                <img src="{% static 'img/like_button.png' %}" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="image_button">
                        <a href="{% url 'conversations:conversation_detail' user.id %}">
                            <div class="image">
                                <img src="{% static 'img/chat_button.png' %}" alt="">
                            </div>
                        </a>
                    </div>
                    <div class="image_button">
                        <a href="{% url 'people:report_user' user.id %}">
                            <div class="image">
                                <img src="{% static 'img/report_button.png' %}" alt="">
                                Report
                            </div>
                        </a>
                    </div>
                {% else %}
                    <div class="image_button">
                        <a href="{% url 'blog:create_post' %}">
                            <div class="image">
                                <img style="width: 50%" src="{% static 'img/new_post.png' %}" alt="">
                                New<br>post
                            </div>
                        </a>
                    </div>
                    <div class="image_button">
                        <a href="{% url 'blog:edit_blog' %}">
                            <div class="image">
                                <img style="width: 50%" src="{% static 'img/edit_profile.png' %}" alt="">
                                Edit
                            </div>
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
        <div class="person_info">
            <h3>
                {{ user.first_name }} {{ user.last_name }}, {{ user.user_info.years_old }} y.o.
            </h3>
            <p>
                Likes <strong>{{ user.user_info.get_gender_preference_display }}</strong>
            </p>
            <p>
                Looking for <strong>{{ user.user_info.get_relationship_display }}</strong>
            </p>
            <div class="person_interests">
                {% for interest in user.user_info.interests.all %}
                    <div class="interest" style="background-color: {{ interest.group.background_color }}">
                        {{ interest }}
                    </div>
                {% endfor %}
            </div>
            {% if user.user_info.about_me %}
                <p class="about_me">
                    {{ user.user_info.about_me }}
                </p>
            {% endif %}
        </div>
    </div>
    {% if posts %}
        <div class="separator">{{ user.first_name }}'s blog</div>
        {% for post in posts %}
            <div class="blog_post">
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="">
                {% endif %}
                <p class="post_text">{{ post.text }}</p>
                <p class="post_created">{{ post.created }}</p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}

<script>
    {% block domready %}
        const navbar = document.getElementsByClassName("button");
        {% if user == request.user %}
            navbar[4].classList.add("selected");
        {% else %}
            navbar[0].classList.add("selected");
        {% endif %}

        const url = "{% url 'people:like_user' %}";
        let options = {
            method: "POST",
            headers: {'X-CSRFToken': csrftoken},
            mode: "same-origin"
        }
        if (document.querySelector("a.like")) {
            document.querySelector("a.like").addEventListener("click", function (e) {
                e.preventDefault();
                let likeButton = this;

                let formData = new FormData();
                formData.append("id", likeButton.dataset.id);
                formData.append("action", likeButton.dataset.action);
                options["body"] = formData;

                fetch(url, options)
                    .then(response => response.json())
                    .then(data => {
                        if (data["status"] === "ok") {
                            let previousAction = likeButton.dataset.action;
                            likeButton.dataset.action = previousAction === "like" ? "unlike" : "like";
                            likeButton.parentElement.classList.toggle("liked");
                        } else {
                            alert("Error when processing your Like. Please refresh page and try again.");
                        }
                    });
            });
        }
    {% endblock %}
</script>