{% extends 'base.html' %}

{% block title %}
    {{ request.user.first_name }} {{ request.user.first_name }} Statistics
{% endblock %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock %}

{% block content %}
    <h1>Interests</h1>

    <h3>Interests of Users Who Liked Me</h3>
    <canvas id="receivedInterestsGroupsChart" width="400" height="200"></canvas>

    <h3>Interests of Users I Liked</h3>
    <canvas id="givenInterestsGroupsChart" width="400" height="200"></canvas>

    <h3>Most Popular Interests of Users Who Liked Me</h3>
    <canvas id="receivedMostPopularInterestsChart" width="400" height="200"></canvas>

    <h3>Most Popular Interests of Users I Liked</h3>
    <canvas id="givenMostPopularInterestsChart" width="400" height="200"></canvas>
{% endblock %}

<script>
    {% block domready %}
        const navbar = document.getElementsByClassName("button");
        navbar[5].classList.add("selected");

        function createPieChart(chartId, chartData, chartLabels) {
            const ctx = document.getElementById(chartId).getContext("2d");
            new Chart(ctx, {
                type: "pie",
                data: {
                    labels: chartLabels,
                    datasets: [{
                        data: Object.values(chartData),
                        borderWidth: 1
                    }]
                },
                options: {
                    responsive: true
                }
            });
        }
        function createBarChart(chartId, chartData, chartLabels) {
            const ctx = document.getElementById(chartId).getContext("2d");
            new Chart(ctx, {
                type: "bar",
                data: {
                    labels: chartLabels,
                    datasets: [{
                        label: "Users",
                        data: Object.values(chartData),
                        borderWidth: 1
                    }]
                },
                options: {
                    scales: {
                        y: {
                            beginAtZero: true
                        }
                    }
                }
            });
        }

        fetch(`/statistic/interests_groups_data/`)
            .then(response => response.json())
            .then(data => {
                const receivedInterestsGroupsData = data.received_interest_groups_data;
                const givenInterestsGroupsData = data.given_interest_groups_data;

                createPieChart("receivedInterestsGroupsChart",
                    Object.values(receivedInterestsGroupsData),
                    Object.keys(receivedInterestsGroupsData));
                createPieChart("givenInterestsGroupsChart",
                    Object.values(givenInterestsGroupsData),
                    Object.keys(givenInterestsGroupsData));
            });

        fetch(`/statistic/most_popular_interests_data/10`)
            .then(response => response.json())
            .then(data => {
                const receivedMostPopularInterestsData = data.received_most_popular_interests_data;
                const givenMostPopularInterestsData = data.given_most_popular_interests_data;

                createBarChart("receivedMostPopularInterestsChart",
                    Object.values(receivedMostPopularInterestsData),
                    Object.keys(receivedMostPopularInterestsData));
                createBarChart("givenMostPopularInterestsChart",
                    Object.values(givenMostPopularInterestsData),
                    Object.keys(givenMostPopularInterestsData));
            });
    {% endblock %}
</script>
